# reference to possible versions: https://asdf-vm.com/manage/versions.html

terraform 1.5.7
awscli system
azure-cli system
kubectl 1.31.6
packer latest:1
pre-commit system
tflint system
tfsec system
parliament 1.6.2
gcloud 487.0.0 # If you update this version, don't forget to update 35_completions.zsh
golang 1.22.8
goreleaser 2.7.0
golangci-lint 1.64.05
nodejs 24.0.1 20.9.0
yarn 1.22.22
minikube 1.35.0
poetry 2.1.3
#helm 4.1.0 # No system level helm command

# Python
python 3.12.8
